@font-face {
  font-family: "Chopin Script";
  src: url('/assets/chopin_script');
}

.homepage-projects p {
  font-size: 1.25em;
}

body {
  margin: 42px;
}

h1 {
  font-family: "Chopin Script", "Arial Black", sans-serif;
}

p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
